.container {
  background-color: white;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 15px;
}

.divider {
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

.main {
  flex: 1;
  padding-bottom: 2rem;
}

/* 🔧 헤더 스타일 전체 */
.headerWrapper {
  background-color: #104023;
  display: flex;
  justify-content: space-between; /* 좌우 정렬 */
  align-items: center;
  height: 60px;
  padding: 0 20px;
}

/* 🔧 좌측 로고 (헬시오 프로젝트) */
.container header {
  font-weight: bold;
  font-size: 18px;
  line-height: 60px;
  cursor: pointer;
}

/* 🔧 우측 버튼 (로그인 / 회원가입) */
.login,
.signup {
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
}

.container footer {
  padding: 2rem 1rem;
  color: #104023;
  font-size: 14px;
  background-color: #f8f8f8;
  text-align: center;
}

.mypage,
.logout {
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
}