.title{
    font-size: 100px;
    text-align: center;
}

.description{
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 100px;
}

.subDescription{
    font-size: 50px;
}

.divider{
    margin-bottom: 50px;
    height: 1px;
    background-color: #ccc;
    width: 100%;
  }

.startbtn{
    color: gray;
    font-family: 'ASSACOMFREEGOTHIC', sans-serif;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #ccc;
    cursor: pointer;
    margin-bottom: 50px;
}

.startbtn:hover{
    background-color: aliceblue;
    border-color: black;
    color: black;
}