.wrapper {
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  align-items: center;     /* 수평 가운데 정렬 */
  padding: 2rem;
}

.divider{
  height: 1px;
  background-color: #ccc;
  width: 100%;
  margin-bottom: 40px;
}
  
  .error {
    color: red;
    height: 10px;
    font-size: 11px;
  }
  
.h3 {
    font-size: 32px;
    color: #0068ff;
    font-weight: bold;
    width: 380px;
    margin-bottom: 10px;
  }
  
  .inputbox {
    width: 380px;
    height: 60px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid #d2d2d2;
    padding: 18px;
    margin-top: 20px;
  }
  
  .inputbox::placeholder {
    color: #797979;
    font-size: 16px;
  }
  
  .phone__wrapper {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .phoneNum {
    width: 100px;
    height: 40px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    font-size: 16px;
    text-align: center;
  }
  
  .token__wrapper {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
  }
  
  .token {
    color: #0068ff;
    font-size: 18px;
  }
  
  .token__timer {
    color: #0068ff;
    font-size: 18px;
  }
  
  #token__button,
  #token__timer__confirm__button {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    margin-left: 20px;
    border: 1px solid #d2d2d2;
    font-size: 16px;
  }
  
  .location {
    margin-top: 20px;
    width: 380px;
    height: 60px;
    border: 1px solid #d2d2d2;
    border-radius: 7px;
    font-size: 16px;
    padding: 18px;
    color: #797979;
  }
  
  .gender__wrapper {
    width: 380px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .gender {
    width: 70px;
    text-align: center;
  }
  
  .hr {
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #e6e6e6;
    width: 380px;
  }
  
  .signup__button {
    width: 380px;
    height: 75px;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 20px;
  }